<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" content="5">
        <title>
            服务器拓扑状态图
        </title>
        <script src='/statics/servermap/js/server_top.js' language='javascript'>
        </script>
        {% for p in pailist %}
        <div align=center>
            {{ p }}排
        </div>
        <table width='1024' border='0' cellpadding='1' cellspacing='3' bgcolor='#ffffff'
        class='jjtable'>
            <tr align='center' valign='top'>
            {% for g in guilist %}
                <td width='147' bgcolor='#eeeeee' background="/statics/servermap/images/serverico/jg.gif">
                    <table width='99%' height='440' border='0' cellpadding='1' cellspacing='0'>
                        <tr>
                            <td height='30' align='center' valign='bottom' class='jgtable'>
                                <font class=jgtitle>
                                    {{ g }}
                                </font>
                            </td>
                        </tr>
                        {% for h in hanlist %}
                        <tr>
                            <td height='30' align='center' valign='bottom' class='jgtable' id="{{ p }}{{ g }}{{ h }}">
                                &nbsp
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            {% endfor %}

            </tr>
        </table>
        <p>
            &nbsp;
        </p>
    {% endfor %}
        <script src='/statics/servermap/js/server_down.js' language='javascript'>
        </script>