{% extends "master_templates/index_master.html" %}
 {% block user %}
     {{ loginuser }}

 {% endblock %}

{% block title %}
    <h1 class="page-title">首页</h1>
                   <ul class="breadcrumb">
           <li><a href="/sysadmin/index/">用户管理</a> </li>
           <li class="active">更改密码</li>
       </ul>

{% endblock %}


{% block content %}
 <style>
 li{
     list-style-type:none;

 }
   div.form-group ul.errorlist li {
       list-style-type:none;
       color: red;
       position: relative;
       top: 62px;
       left: 368px;
   }
    input{
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
    </style>
      {% if oldpassword_is_wrong %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>错误!</h4>原密码不正确
        </div>
    {% endif %}
        <div class="dialog">
           <form id='form' method='post' action='/user/changepwd/'>
                {% csrf_token %}
                <div class="form-group" id="form-group">
                     {% csrf_token %}
                    {{form.as_ul}}
                </div>
                <input type="submit" class="btn btn-primary pull-right" value="修改">
                <h3 style="position: relative;top:-73px;left: 574px">{{ addResult }}</h3>
                <div style="text-align: center;color: green">修改成功后会自动跳转至登陆页面</div>
            </form>

        </div>

{% endblock %}