{% extends "master_templates/index_master.html" %}



{% block title %}
     <div  style="margin-top: 20px;">
<ul class="nav nav-tabs">
  <li role="presentation" class="{%ifequal   ID '1' %} active {%endifequal%}"><a href="{% url 'getlivelist' 1 %}"> 直播服务器01</a></li>
  <li role="presentation" class="{%ifequal  ID  '2' %} active {%endifequal%}"><a href="{% url 'getlivelist' 2 %}">直播服务器02</a></li>
  <li role="presentation" class="{%ifequal  ID '3' %} active {%endifequal%}"><a href="{% url 'getlivelist' 3 %}">直播服务器03</a></li>
  <li role="presentation" class="{%ifequal  ID '4' %} active {%endifequal%}"><a href="{% url 'getlivelist' 4 %}">查看所有频道</a></li>
</ul>
    </div>
  <div class="input-group custom-search-form"  style="margin-left: 76%;  margin-top: -50px;">
          <form role="form" action="{% url 'getlivelist' ID %}" method="get" >
                                <input type="text" class="form-control" placeholder="{% ifequal ID '4' %}在 所有服务器 中搜索{% else %}在 直播服务器0{{ ID }} 中搜索{% endifequal %}" name="findchannel">
                                <span class="input-group-btn" style="margin-left: 196px;  position: absolute;">
                                <input class="btn btn-default" type="submit" value="搜索">
                                    <i class="fa fa-search"></i>
                            </span>
              </form>
                            </div>

{% endblock %}


{% block content %}
<!--将列表内容居中显示开始-->
    <style>
th,td{
    text-align: center;
}
    button.btn.btn-primary {
  position: relative;
  margin-left: 44%;
}
a {
color: #428bca;
text-decoration: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: 0.2;
}

.hide {
    display:none;
}
.btn:hover, .btn:focus {
color: #333;
text-decoration: none;
}
    </style>
<!--将列表内容居中显示结束-->

<div id='beijing' class="modal-backdrop fade in"  hidden style=" height: 1500px;z-index: 100000;text-align: center"><img style="margin-top: 27%" src="/statics/loading.gif"></div>
<div class="container-fluid" style="margin-top: 42px;">
	<div class="row-fluid">
             <div class="btn-toolbar">

                    <div class="btn-toolbar list-toolbar">
                    <table class="table table-hover table-striped  table-bordered table-condensed" >
				<thead>
					<tr>
						<th>
							频道ID
						</th>
						<th>
							频道显示名称
						</th>

                        <th>输入地址</th>
                   <th>
							操作
						</th>
                        <th>输出地址</th>
					</tr>
				</thead>
				<tbody>
				{% for line in contents %}
                <tr onmouseover="this.style.backgroundColor='#EEEEEE';" onmouseout="this.style.backgroundColor='';">
                    <td >{{ line.0}}</td>
                    <td title="{{ line.1 }}">
                    {% if line.1|length > 9 %} <!--将过长的频道名称截取并加省略号-->
                    {{ line.1 | slice:"6"  }}...
                     {% elif line.1|length > 7 %}
                        {{ line.1 | slice:"7"  }}...
                    {% else %}
                    {{ line.1 }}
                    {% endif %} 
                    </td>
                   <td data-uid-input="{{ line.0 }}" id="input_{{ line.0 }}">{{ line.7|truncatewords:1 }}<a href="{{ line.7 | slice:"20" }}" target="_blank">   <span class="glyphicon glyphicon-cloud" title="跳转至   {{ line.7 | slice:"20" }}"></span></a> <span class="glyphicon glyphicon-copy" style="  color: rgb(66, 139, 202);" id="input_b_{{ line.0 }}" onmouseover="fuzhiinput({{ line.0 }})"></span></td>
                   <td>
                    <select id="selecthandle{{ line.0 }}">
                            <option value='1'>重启</option>
                            <option value='2'>关闭</option>
                    </select>

                    <button class="btn btn-default" style="padding: 6px 2px;font-size: 13px;line-height: 0.5" type="button" onclick="EncoderHandle({{ line.0 }})"> 提交 </button>
                </td>

                    <td data-uid-output="{{ line.0 }}" id="output_{{ line.0 }}">http://{{ line.4 }}/channels/tvie/{{ line.2 }}/m3u8:{{ line.6 }}  <span class="glyphicon glyphicon-copy" style="  color: rgb(66, 139, 202);" id="output_b_{{ line.0 }}" onmouseover="fuzhiout({{ line.0 }})"></span></td>

                </tr>
                {% endfor %}
				</tbody>

			</table>
                <button class="btn btn-primary" type="button">
         总共 <span class="badge">{{ counts }}</span> 条记录
        </button>
</div>
<script type="text/javascript" src="/statics/player/swfobject.js"></script>
<script type="text/javascript" src="/statics/player/tvieplayer.js"></script>
<script type="text/javascript" src="/statics/player/preview.js"></script>

      <div id="playerdiv" style="top: 15%;text-align: center;position: fixed;margin-left: 15%;z-index: 1050" class="hide">
               <button type="button" class="close" onclick="fadeOut()"><span class="btn btn-danger">关闭</span></button>
            <div id="player"></div>
        </div>
        <div id="shade" class="modal-backdrop hide"></div>

</div>
</div>
</div>
{% endblock %}
{% block script %}
        <script type="text/javascript" src="/statics/zclip/jquery.zclip.js"></script>
        <script type="text/javascript" src="/statics/zclip/copy.js"></script>
    <script type="text/javascript">
    function steamsstatus(){
        var http_status_input = {{ http_status_input|safe }};
        var http_status_output = {{ http_status_output|safe }};

        $.each(http_status_input,function(k,v){
           switch (v){
               case "200":
                   $("td[data-uid-input=" + k + "]").append("  <span class='glyphicon glyphicon-ok-circle' style='color: green;' title='"+v+"'></span>")
                   $("td[data-uid-input=" + k + "]").append("  <a  onclick='preview("+k+",\"input\")'"+" data-toggle='modal'   data-placement='right'  ><span class='glyphicon glyphicon-facetime-video' title='预览'></span></a>");
                   break;
               case "timeout":
                   $("td[data-uid-input=" + k + "]").append("  <span class='glyphicon glyphicon-question-sign' style='color: rgb(255, 0, 242);' title='"+"timeout"+"'></span>");
                   $("td[data-uid-input=" + k + "]").css("color","rgb(255, 0, 242)")
                   $("td[data-uid-input=" + k + "]").append("  <a  onclick='preview("+k+",\"input\")'"+" data-toggle='modal'   data-placement='right'  ><span class='glyphicon glyphicon-facetime-video' title='预览'></span></a>");
                   break;
               case "warning":
                   $("td[data-uid-input=" + k + "]").append("  <span class='glyphicon glyphicon-exclamation-sign' style='color: blue;' title='"+"源已断"+"'></span>");
                   $("td[data-uid-input=" + k + "]").css("color","blue")
                   $("td[data-uid-input=" + k + "]").append("  <a  onclick='preview("+k+",\"input\")'"+" data-toggle='modal'   data-placement='right'  ><span class='glyphicon glyphicon-facetime-video' title='预览'></span></a>");
                   break;
               default :
                    $("td[data-uid-input=" + k + "]").append("  <span class='glyphicon glyphicon-remove-circle' style='color: red;' title='"+v+"'></span>")
                    $("td[data-uid-input=" + k + "]").css("color","red")
                    $("td[data-uid-input=" + k + "]").append("  <a  onclick='preview("+k+",\"input\")'"+" data-toggle='modal'   data-placement='right'  ><span class='glyphicon glyphicon-facetime-video' title='预览'></span></a>");
            }

        }

        );
        $.each(http_status_output,function(k,v){
            console.log(v)
            if (v==200){

                 $("td[data-uid-output=" + k + "]").append("  <span class='glyphicon glyphicon-ok-circle' style='color: green;' title='"+v+"'></span>")
            }
            else if (v==0){
                $("td[data-uid-output=" + k + "]").append("  <span class='glyphicon glyphicon-question-sign' style='color: yellow;' title='"+"timeout"+"'></span>")
                $("td[data-uid-output=" + k + "]").css("color","yellow")

            }
            else{

                $("td[data-uid-output=" + k + "]").append("  <span class='glyphicon glyphicon-remove-circle' style='color: red;' title='"+v+"'></span>")
                $("td[data-uid-output=" + k + "]").css("color","red")
            }
               $("td[data-uid-output=" + k + "]").append("  <a  onclick='preview("+k+",\"output\")'"+" data-toggle='modal'   data-placement='right'  ><span class='glyphicon glyphicon-facetime-video' title='预览'></span></a>");
        }
        )
    }

    window.onload = steamsstatus;
</script>
    <script type="text/javascript">
        function syncrequest(url,data,type,func){
          $.ajax({
              url:url,
              data:data,
              type:type,
              success:func
          })
        }
        function EncoderHandle(num){
            //hnum 关闭或者重启
            //tnum 通道number
            var snum = num;
            var hnum = $('#selecthandle'+num).val();
            var caozuo = " ";
            (hnum == 1) ? caozuo ='重启' : caozuo = '关闭';
            if (confirm("确认"+caozuo+"吗") == true){
            syncrequest("{% url 'enchajax' %}",{'snum':snum,'hnum':hnum},'POST',makesure);
            $('#beijing').show()
            }
            else{
            alert('用户取消操作')
            }


        }
       function makesure(result){
           var status_code = result['content']['status_code']
           if (status_code == '200'){
               alert('操作完成!!!!');
               $('#beijing').hide()
           }
        }
  </script>
{% endblock script %}
